@{
    ViewData["Title"] = "Register";
}
@model Citizen_Portal.Models.User
    <div class="w-80 Auto p-40p" style="background-color:#cccccc">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="py-1">
                <img class="circular-shadow radius-50 h-100p" src="~/lib/circular logo.png" alt="logo"/>
            </div>
            <div class="py-1 fw-bolder">
                <h3>Register as a new User</h3>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-success w-200p p-5p fs-5 mx-3">User</button>
                <button class="btn btn-primary w-200p p-5p fs-5 mx-3">Manager</button>
            </div>
        </div>
        <div>
            <form asp-controller="Home" asp-action="Register">
            <div class="">
                <div class="p-10p d-flex flex-wrap align-items-center justify-content-between">
                    @*<div class="col-md-4 d-flex px-md-1 align-items-center my-3">
                        <label class="col-md-4 col-sm-5" asp-for="Area_Code">Area Code<span class="text-danger px-1">*</span></label>
                        <input type="hidden" id="area_country_code_id" name="area_country_code_id" value="1">
                        <select class="col-md-8 col-sm-7 p-6p border-0 radius-4p" asp-for="Area_Code">
                            <option value="92" data-country-id="1"> Pakistan  (92) </option>
                        </select>
                    </div>*@
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3">
                        <label class="col-md-5 col-sm-5" asp-for="MobileNumber">Mobile Number<span class="text-danger px-1">*</span></label>
                        <input class="col-md-7 col-sm-7 p-6p border-0 radius-4p" asp-for="MobileNumber" type="tel" placeholder="03341234567"/>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3 justify-content-end">
                        <label class="col-md-3 col-sm-5" asp-for="Email">Email<span class="text-danger px-1">*</span></label>
                        <input class="col-md-8 col-sm-7 p-6p border-0 radius-4p" asp-for="Email" type="email" placeholder="some@web.com" required/>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3">
                        <label class="col-md-5" asp-for="Name">Name<span class="text-danger px-1">*</span></label>
                        <input class="col-md-7 p-6p border-0 radius-4p" type="text" asp-for="Name" placeholder="Full Name" maxlength="20" minlength="4" required class="form-control" value=""/>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3 justify-content-end">
                        <label class="col-md-3" asp-for="CNIC">CNIC<span class="text-danger px-1">*</span></label>
                        <input class="col-md-8 p-6p border-0 radius-4p" type="text" asp-for="CNIC" placeholder="" required class="form-control" value="" maxlength="15"/>
                        <input type="hidden" name="country_id" id="country_id" placeholder="" required class="form-control" value="1"/>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3">
                        <label class="col-md-5" asp-for="DOB">Date of Birth<span class="text-danger px-1">*</span></label>
                        <input class="col-md-7 p-6p border-0 radius-4p" type="date" asp-for="DOB" max="2010-05-25"  required class="form-control" value=""/>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3 justify-content-end">
                        <label class="col-md-3" asp-for="Gender">Gender<span class="text-danger px-1">*</span></label>
                        <select class="col-md-8 p-6p border-0 radius-4p" asp-for="Gender" required class="form-control"  >
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3">
                        <label class="col-md-5" asp-for="TelephoneNumber">Telephone Number<span class="text-danger px-1">*</span></label>
                        <input class="col-md-7 p-6p border-0 radius-4p" type="tel" asp-for="TelephoneNumber" placeholder="xxxxxxx" class="specialchar form-control" maxlength="12" minlength="5" value=""/>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3 justify-content-end">
                        <label class="col-md-3" asp-for="Password">Password<span class="text-danger px-1">*</span></label>
                        <input class="col-md-8 p-6p border-0 radius-4p" type="password" asp-for="Password"  minlength="5" placeholder="*******" required class="form-control" value=""/>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3">
                        <label class="col-md-5" asp-for="postalCode">Postal Code<span class="text-danger px-1">*</span></label>
                        <input class="col-md-7 p-6p border-0 radius-4p" type="text" asp-for="postalCode" maxlength="5" placeholder="00000" required class="form-control" value=""/>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3 justify-content-end">
                        <label class="col-md-3" asp-for="Province">Province<span class="text-danger px-1">*</span></label>
                        <select class="col-md-8 p-6p border-0 radius-4p" asp-for="Province" required class="form-control" onchange="getDistricts()">
                            <option value="1">Khyber Pakhtunkhwa | KP</option>
                            <option value="2">Punjab | PU</option>
                            <option value="3">Sindh | SD</option>
                            <option value="4">Balochistan | BL</option>
                            <option value="6">Federal Govt | IS</option>
                            <option value="7">Gilgit-Baltistan | GB</option>
                            <option value="8">Azad Jammu and Kashmir | AK</option>
                        </select>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3">
                        <label class="col-md-5" asp-for="District">District<span class="text-danger px-1">*</span></label>
                        <select class="col-md-7 p-6p border-0 radius-4p" asp-for="District" required class="form-control" onchange="getTehsils()">
                            <option value="8" >Abbottabad</option>
                            <option value="138" >Bajaur</option>
                            <option value="4" >Bannu</option>
                            <option value="9" >Battagram</option>
                            <option value="10" >Buner</option>
                            <option value="3" >Charsadda</option>
                            <option value="11" >Chitral Lower</option>
                            <option value="351" >Chitral Upper</option>
                            <option value="5" >Dera Ismail Khan</option>
                            <option value="7" >Dir Lower</option>
                            <option value="6" >Dir Upper</option>
                            <option value="12" >Hangu</option>
                            <option value="13" >Haripur</option>
                            <option value="14" >Karak</option>
                            <option value="140" >Khyber</option>
                            <option value="15" >Kohat</option>
                            <option value="26" >Kohistan Lower</option>
                            <option value="16" >Kohistan Upper</option>
                            <option value="198" >Kolai Pallas</option>
                            <option value="141" >Kurram</option>
                            <option value="17" >Lakki Marwat</option>
                            <option value="18" >Malakand</option>
                            <option value="19" >Mansehra</option>
                            <option value="2" >Mardan</option>
                            <option value="142" >Mohmand</option>
                            <option value="143" >North Waziristan</option>
                            <option value="20" >Nowshera</option>
                            <option value="144" >Orakzai</option>
                            <option value="1"  selected >Peshawar</option>
                            <option value="21" >Shangla</option>
                            <option value="145" >South Waziristan</option>
                            <option value="22" >Swabi</option>
                            <option value="23" >Swat</option>
                            <option value="24" >Tank</option>
                            <option value="25" >Tor Ghar</option>
                        </select>
                    </div>
                    <div class="col-md-6 d-flex px-md-1 align-items-center my-3 justify-content-end">
                        <label class="col-md-3" asp-for="Tehsil">Tehsil<span class="text-danger px-1">*</span></label>
                        <select class="col-md-8 p-6p border-0 radius-4p" asp-for="Tehsil" class="form-control">
                            <option value="279">Badahber</option>
                            <option value="280">Chamkani</option>
                            <option value="281">City</option>
                            <option value="282">Hassan Khel</option>
                            <option value="283">Mathra</option>
                            <option value="711">Pishtakhara</option>
                            <option value="712">Shah Alam</option>
                        </select>
                    </div>
                    <div class="col-md-12 d-flex px-md-1 align-items-center my-3">
                        <label class="col-md-2" asp-for="Address">Address<span class="text-danger px-1">*</span></label>
                        <textarea class="col-md-10 p-6p border-0 radius-4p" type="text" asp-for="Address" maxlength="100" class="form-control" placeholder="Enter address here"></textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" value="1" name="terms_agreement">
                            <label for="ckb1" style="color:black; display: inline-block;">
                            <u>I Agree to the Terms and Conditions</u>
                            </label>
                            <label onclick="showTermsModal()" style="color:rgb(6, 113, 214); display: inline-block;">
                            <u>Read</u>
                            </label>
                        </div>
                        <div class="text-danger font-italic">
                            Note: You must agree to the terms and conditions in order to continue
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-warning py-5p px-25p" type="submit" onclick="">Register</button>
                    </div>
                    <div class="text-center col-md-12">
                        <a class="text-black txt1 text-decoration-none" href="https://web.citizenportal.gov.pk/login" onclick="showloader()">Already have an account? <b>Login here</b></a>
                    </div>
                    <div class="p-20p"></div>
                </div>
            </div>
            @*<input type="hidden" name="_token" value="fapLIgcU49QBeh8BKDHo8UjFvfJjuLeaG4aRyTem">*@
        </form>
        </div>
    </div>