<!doctype html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="Prime Minister's Performance Delivery Unit">
<title>PM's Performance Delivery Unit</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="shortcut icon" type="image/ico" href="images/favicon.png" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/themify-icons.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/magnific-popup.css">
<link rel="stylesheet" href="css/space.css">
<link rel="stylesheet" href="css/theme.css">
<link rel="stylesheet" href="css/overright.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="css/responsive.css">
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target="#mainmenu" data-offset="50">
<header class="blue-bg relative fix" id="home">
  <nav class="navbar navbar-default mainmenu-area navbar-fixed-top" data-spy="affix" data-offset-top="60">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" class="navbar-toggle" data-target="#mainmenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.php" class="navbar-brand">  
              			<img src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="mainmenu">
                    <ul class="nav navbar-nav">
                        <li><a href="index.php#home">Welcome</a></li>
                        <li><a href="index.php#about">About PMDU</a></li>
                        <li><a href="index.php#howtouse">Tutorials</a></li>
                        <li><a href="press-releases.php">Press Releases</a></li>
                        <li><a href="success-stories.php">Success Stories</a></li>
                        <li><a href="https://pmo.gov.pk/" target="_blank">Prime Minister's Office</a></li>
                        <li><a  class="btn btn-sm btn-warning" href="https://web.citizenportal.gov.pk">Lodge A Complaint</a></li>

                    </ul>
                </div>
            </div>
        </nav>
		
		</header>
<div class="space-100"></div>
<div class="main-content bg-lighter ">
  <section class="inner-header divider parallax layer-overlay overlay-dark-5 inner-bg" >
    <div class="container pt-70 pb-20">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-white text-center">Success Stories</h2>
            <ol class="breadcrumb text-left text-black mt-10">
              <li><a href="index.php">Home</a></li>
              <li><a href="success-stories.php">Success Stories</a></li>
              <li class="active text-gray-silver">success Story Detail</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="success-stories">
    <div class="container pt-50 pb-30">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <div class="entry-content clearfix staggered-animation display animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay=".5s" style="animation-delay: 0.5s;">
              <div class="entry-meta media no-bg no-border mt-15 pb-20">
			  
                <div class="post-date">
                  <div class="dmy">
                    <div class="date">22</div>
                    <span class="month">Nov</span> <span class="year">2019</span>
					</div>
					
					<div class="cont-area">
					<h2 class="entry-title text-uppercase pt-0 mt-0 text-theme-colored mt-20">CLEANLINESS OPERATION IN MARDAN SS 1</h2>
				  </div>
                  <div class="entry__share" >
                    <div class="sticky-col">
                      <div class="socials socials--rounded socials--large"> <a class="social social-facebook" href="#" title="facebook" target="_blank" aria-label="facebook"> <span class="ti-facebook"></span> </a> <a class="social social-twitter" href="#" title="twitter" target="_blank" aria-label="twitter"> <span class="ti-twitter"></span> </a> <a class="social social-google-plus" href="#" title="google" target="_blank" aria-label="google"> <span class="ti-google"></span> </a> </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="entry__article-wrap">
                <div class="entry__article"> 
				<!--<span class="entry__img-holder"> <img src="images/stories/success-story1.jpg" alt="" class="entry__img"> </span>-->
                  <div style="color:#000000;"> <p>I have been requesting TMA mardan for proper disposal of garbage from our main street which is a great threat to our health. i also complained to RTS for help. but was invainI have been requesting TMA mardan for proper disposal of garbage from our main street which is a great threat to our health. i also complained to RTS for help. but was invainI have been requesting TMA mardan for proper disposal of garbage from our main street which is a great threat to our health. i also complained to RTS for help. but was invainI have been requesting TMA mardan for proper disposal of garbage from our main street which is a great threat to our health. i also complained to RTS for help. but was invainI have been requesting TMA mardan for proper disposal of garbage from our main street which is a great threat to our health. i also complained to RTS for help. but was invainI have been requesting TMA mardan for proper disposal of garbage from our main street which is a great threat to our health. i also complained to RTS for help. but was invainI have been requesting TMA mardan for proper disposal of garbage from our main street which is a great threat to our health. i also complained to RTS for help. but was invainI have been requesting TMA mardan for proper disposal of garbage from our main street which is a great threat to our health. i also complained to RTS for help. but was invainI have been requesting TMA mardan for proper disposal of garbage from our main street which is a great threat to our health. i also complained to RTS for help. but was invain</p> </div>
                </div>
                
				<!--<h4 class="mt-20">Resolved Comments</h4>
                <blockquote class="theme-colored pt-20 pb-20">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore suscipit, inventore aliquid incidunt, quasi e </p>
                  <footer>Resolved by: <cite>Miinistry of Health</cite></footer>
                </blockquote>
				-->
				
              </div>
            </div>
            
            <!--<div class="col-sm-12 col-md-4">
            <div class="sidebar sidebar-left mt-sm-30">
              <div class="widget">
                <h4 class="widget-title line-bottom">Categories</h4>
                <div class="services-list">
                  <ul class="list list-border">
                  
                  
                  
                  
                  
                    <li class="active"><a href="#">Health</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Municipal Services</a></li>
                    <li><a href="#">Land & Revenue</a></li>
                    <li><a href="#">Law & Order</a></li>
                    <li><a href="#">Transport </a></li>
                    <li><a href="#">Communications</a></li>
                    <li><a href="#">Energy & Power </a></li>
                    
                    <li><a href="#">Govt Service Matters</a></li>
                    <li><a href="#">Citizen Rights</a></li>
                    <li><a href="#">Licenses, Certificates</a></li>
                    <li><a href="#">Registrations </a></li>
                    <li><a href="#">Tax & Money</a></li>
                    <li><a href="#">Media, Cyber Crimes</a></li>
                    <li><a href="#">Immigration & Passport</a></li>
                    <li><a href="#">NADRA </a></li>
                    <li><a href="#">Disaster </a></li>
                    <li><a href="#">Overseas Pakistani</a></li>
                    
                    <li><a href="#">Development Projects  </a></li>
                    <li><a href="#">Environment & Forest  </a></li>
                    <li><a href="#">Agriculture  </a></li>
                    <li><a href="#">Investments  </a></li>
                    <li><a href="#">Suggestion </a></li>
                  </ul>
                </div>
              </div>
              
              
              
              
            </div>
          </div>--> 
          </div>
        </div>
      </div>
    </div >
  </section>
</div>
<footer class="black-bg main-intro">
  <div class="container">
    <div class="row text-white wow fadeIn">
      <div class="col-xs-12 text-center">
        <div class="space-20"></div>
        <div class="footer-text">
					<a href="#">Prime Minsiter's Performance Delivery Unit  |  Complaint Cell</a><br/>@ 2018. All rights reserved | Designed by: <A href="www.nitb.gov.pk" target="_blank">National Information Technology Board</A>
					</div>      </div>
    </div>
    <div class="space-20"></div>
  </div>
</footer>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/scrollUp.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/ripples-min.js"></script>
<script src="js/spectragram.min.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/particles-app.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script> 
<script>
	$(document).ready(function() {
/* show lightbox when clicking a thumbnail */
    $('a.thumb').click(function(event){
    	event.preventDefault();
    	var content = $('.modal-body');
    	content.empty();
      	var title = $(this).attr("title");
      	$('.modal-title').html(title);      	
      	content.html($(this).html());
      	$(".modal-gallery").modal({show:true});
    });

  });
  
  </script>
</body>
</html>