@model List<User>

<div class="w-90 p-5 m-auto">
    <table>
        <tr class="w-100">
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">Name</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">CNIC</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">Email</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">Mobile Number</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">DOB</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">Gender</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">Province</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">District</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">Postal Code</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">Tehsil</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">Address</td>
            <td class="py-2 px-3 border-white border-1 bg-dark text-light">Telephone</td>
        </tr>
        @foreach( var u in @Model){
            <partial name = "UserPartial" model="u"/>
        }
    </table>
</div>
