@{
    ViewData["Title"] = "Home";
}

<div>
@*    <div>
         <h1 class="p-20-p">Description</h1>
         <div class="p-l-20-c">
            Pak Citizen's Portal (PCP) is being used as a tool to
            promote citizen-centric participatory governance.
            It provides a nation-wide window to connect
            people with Government Organizations at all levels for
            raising their issues with authorities, complaints' redressal
            and suggestions. On Government's side, it helps to promote
            the culture of quantified performance management and make
            the various government entities accountable for their mandated
            roles and responsibilities. Our Aim is to Help people for getting their right.
            As some Employeees of government don't give due respect to their work, also their are many social scammers are there to betray a common man.
            You are welcome here to put complains for them. We are here to help you!       
         </div>
    </div>
    <div>
        <h1 class="p-20-p">Fuctionality</h1>
        <div class="p-l-20-c">
            Our Website is the replica of Pakistan Citizen portal App, thats available on Play Store , App Store and Hawawei Gallery.
            It will Provide All functionaly as PCP apps. It Will provide functioanly to complain, tracking of the complain and Feedback on it.
            In case of cyber scam, you can complain about the transaction and phone number from where the call comes. We will try to protect from any lose.
        </div>
    </div>*@
</div>
