<script>
    function MoveToTop() {
        $('html, body').animate({ scrollTop: 0 }, 'fast');
    }
</script>
<div class="p-2 bg-success text-white fadeIn d-flex justify-content-around align-items-center">
    <div class="font-md">
        Pak Citizen's Portal Complaint Cell @@ 2022. All rights reserved | Designed by: A B R
    </div>
    <div>
        <img id="Top_Button" class="circular-shadow radius-50" Style="height:40px; width:40px" src="/images/Up Button.png" alt="Move to Top" onclick="MoveToTop()"/>
    </div>
</div>
